Repository codeit-team3/FE, pull requests merged in 2024-11, with the labels that each got.

#25 📦[Chore] discord webhook 연결
  .github/workflows/ci-develop.yml
  .github/workflows/main-deploy.yml
Labels: 🌏 Deploy

#28 ✨[Feature] ConfirmedLabel 컴포넌트 개발
  public/icons/IcCheck.tsx
  public/icons/index.ts
  src/components/confirmed-label/ConfirmedLabel.stories.tsx
  src/components/confirmed-label/ConfirmedLabel.test.tsx
  src/components/confirmed-label/ConfirmedLabel.tsx
  src/components/participant-counter/ParticipantCounter.stories.tsx
  src/components/participant-counter/ParticipantCounter.test.tsx
  src/components/participant-counter/ParticipantCounter.tsx
Labels: ✅ Test, ✨ Feature

#29 ✨[Feat] 헤더 네비게이션 바 구현#9
  src/app/layout.tsx
  src/components/header/HeaderBar.stories.tsx
  src/components/header/HeaderBar.test.tsx
  src/components/header/HeaderBar.tsx
  src/components/header/NavButton.tsx
  src/components/header/index.ts
Labels: ✨ Feature

#30 ✨ [Feature] progressBar 컴포넌트 개발
  src/components/progress-bar/ProgressBar.stories.tsx
  src/components/progress-bar/ProgressBar.test.tsx
  src/components/progress-bar/ProgressBar.tsx
Labels: ✅ Test, ✨ Feature

#33 ✨ [Feat] TextChip 컴포넌트 개발
  src/components/text-chip/TextChip.stories.tsx
  src/components/text-chip/TextChip.test.tsx
  src/components/text-chip/TextChip.tsx
Labels: ✅ Test, ✨ Feature
